body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #9c1219;
    transition: background-color 0.3s;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Space between links and search box */
    align-items: center; /* Center items vertically */
    padding: 0 20px; /* Add some padding */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(243, 230, 230);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #270404;
}

.search-container {
    display: flex;
    align-items: center; /* Center the search box vertically */
    margin-left: -6px; /* Shift the search box and button to the left */
}

#searchBox {
    padding: 3px;
    border: none;
    border-radius: 5px;
    margin-right: 5px; /* Space between input and button */
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #100101;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}

.content {
    padding-top: 60px; 
}

section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#home { background-color: #11945f; }
#about { background-color: #14698d; }
#services { background-color: #d2dc09; }
#contact { background-color: #3ecf2e; }

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}




